{% extends "base.html" %}

{% block titleName %}Foods{% endblock titleName %}

{% block content %}
    <section>
        <h1>
            Delicious Foods : 
        </h1>
        <p>
            Eating delicious food not only satisfies hunger but also triggers the release of dopamine, often referred to as the "feel-good" neurotransmitter. This biochemical response can elevate mood and reduce stress, making the experience of eating more pleasurable. For example, enjoying a flavorful dish like Panipuri can transform a weary day into a joyful occasion through its vibrant flavors and textures
        </p>
    </section>
{% endblock content %}